
h1{
    color: #46484c;
}
h2{
    color: #16285a;
}

p{
    color: #8b8b8bcc;
}

button{
    color: #fff;
    background-color: #025157;
    border: none; 
}

body{
    background-color: #fffbf7 
}

